In [2]:
!pip install pandas --upgrade

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.4.4)
Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/2f/0e/3b74e8f7c908082793adafb02753477f653ccd7e189f3ba070757d2d0e65/pandas-2.1.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata
  Downloading pandas-2.1.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (18 kB)
Requirement already satisfied: numpy>=1.22.4 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.25.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.1)
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 kB 3.3 MB/s eta 0:00:0000:01
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.1.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.3/12.3 MB 33.1 MB/s eta 0:00:00:00:0100:01
Installing collected packages: tzdata, pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.4.4
    Uninstalling pandas-1.4.4:
      Successfully uninstalled pandas-1.4.4
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
autovizwidget 0.20.5 requires pandas<2.0.0,>=0.20.1, but you have pandas 2.1.1 which is incompatible.
hdijupyterutils 0.20.5 requires pandas<2.0.0,>=0.17.1, but you have pandas 2.1.1 which is incompatible.
panel 0.13.1 requires bokeh<2.5.0,>=2.4.0, but you have bokeh 3.2.2 which is incompatible.
sagemaker-datawrangler 0.4.3 requires sagemaker-data-insights==0.4.0, but you have sagemaker-data-insights 0.3.3 which is incompatible.
Successfully installed pandas-2.1.1 tzdata-2023.3
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

[notice] A new release of pip is available: 23.2.1 -> 23.3
[notice] To update, run: pip install --upgrade pip

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('yellow_tripdata_2015-01.csv')

In [8]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2015-01-15 19:05:39,2015-01-15 19:23:42,1,1.59,-73.993896,40.750111,1,N,-73.974785,40.750618,1,12.0,1.0,0.5,3.25,0.0,0.3,17.05
1,1,2015-01-10 20:33:38,2015-01-10 20:53:28,1,3.30,-74.001648,40.724243,1,N,-73.994415,40.759109,1,14.5,0.5,0.5,2.00,0.0,0.3,17.80
2,1,2015-01-10 20:33:38,2015-01-10 20:43:41,1,1.80,-73.963341,40.802788,1,N,-73.951820,40.824413,2,9.5,0.5,0.5,0.00,0.0,0.3,10.80
3,1,2015-01-10 20:33:39,2015-01-10 20:35:31,1,0.50,-74.009087,40.713818,1,N,-74.004326,40.719986,2,3.5,0.5,0.5,0.00,0.0,0.3,4.80
4,1,2015-01-10 20:33:39,2015-01-10 20:52:58,1,3.00,-73.971176,40.762428,1,N,-74.004181,40.742653,2,15.0,0.5,0.5,0.00,0.0,0.3,16.30

In [4]:
#df2 = df.loc[0:9,:]
df2

NameError: name 'df2' is not defined

In [7]:
df2.at[0,'VendorID']=1
df2

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2015-01-15 19:05:39,2015-01-15 19:23:42,1,1.59,-73.993896,40.750111,1,N,-73.974785,40.750618,1,12.0,1.0,0.5,3.25,0.00,0.3,17.05
1,1,2015-01-10 20:33:38,2015-01-10 20:53:28,1,3.30,-74.001648,40.724243,1,N,-73.994415,40.759109,1,14.5,0.5,0.5,2.00,0.00,0.3,17.80
2,1,2015-01-10 20:33:38,2015-01-10 20:43:41,1,1.80,-73.963341,40.802788,1,N,-73.951820,40.824413,2,9.5,0.5,0.5,0.00,0.00,0.3,10.80
3,1,2015-01-10 20:33:39,2015-01-10 20:35:31,1,0.50,-74.009087,40.713818,1,N,-74.004326,40.719986,2,3.5,0.5,0.5,0.00,0.00,0.3,4.80
4,1,2015-01-10 20:33:39,2015-01-10 20:52:58,1,3.00,-73.971176,40.762428,1,N,-74.004181,40.742653,2,15.0,0.5,0.5,0.00,0.00,0.3,16.30
5,1,2015-01-10 20:33:39,2015-01-10 20:53:52,1,9.00,-73.874374,40.774048,1,N,-73.986977,40.758194,1,27.0,0.5,0.5,6.70,5.33,0.3,40.33
6,1,2015-01-10 20:33:39,2015-01-10 20:58:31,1,2.20,-73.983276,40.726009,1,N,-73.992470,40.749634,2,14.0,0.5,0.5,0.00,0.00,0.3,15.30
7,1,2015-01-10 20:33:39,2015-01-10 20:42:20,3,0.80,-74.002663,40.734142,1,N,-73.995010,40.726326,1,7.0,0.5,0.5,1.66,0.00,0.3,9.96
8,1,2015-01-10 20:33:39,2015-01-10 21:11:35,3,18.20,-73.783043,40.644356,2,N,-73.987595,40.759357,2,52.0,0.0,0.5,0.00,5.33,0.3,58.13
9,1,2015-01-10 20:33:40,2015-01-10 20:40:44,2,0.90,-73.985588,40.767948,1,N,-73.985916,40.759365,1,6.5,0.5,0.5,1.55,0.00,0.3,9.35

In [9]:
df2.to_csv('test1.csv',index=False)

In [ ]:
pd.__version__

In [10]:
df2.to_csv('s3://btest-glue-input-demo/test1.csv',index=False)

In [ ]:
df2.head()

In [ ]:
pd.read_csv('s3://btest-glue-input-demo/test1.csv')

In [14]:


import boto3

In [15]:
client = boto3.client ('glue')

In [ ]:
client.list_jobs()

In [16]:
client.list_triggers()

{'TriggerNames': ['5min'],
 'ResponseMetadata': {'RequestId': '8fb03d81-9c33-495a-97df-307477e59521',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Fri, 22 Sep 2023 21:07:20 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '25',
   'connection': 'keep-alive',
   'x-amzn-requestid': '8fb03d81-9c33-495a-97df-307477e59521'},
  'RetryAttempts': 0}}

In [22]:
client.batch_get_triggers(TriggerNames= ['5min'])

{'Triggers': [],
 'TriggersNotFound': ['5min'],
 'ResponseMetadata': {'RequestId': '2f3a02de-dfd1-471e-926c-49b6919a4d7b',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Fri, 22 Sep 2023 21:08:31 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '43',
   'connection': 'keep-alive',
   'x-amzn-requestid': '2f3a02de-dfd1-471e-926c-49b6919a4d7b'},
  'RetryAttempts': 0}}

In [17]:
client.delete_trigger(Name= '5min')

{'Name': '5min',
 'ResponseMetadata': {'RequestId': '1ea95d97-a19b-465a-828c-024159a19809',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Fri, 22 Sep 2023 21:07:34 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '15',
   'connection': 'keep-alive',
   'x-amzn-requestid': '1ea95d97-a19b-465a-828c-024159a19809'},
  'RetryAttempts': 0}}

In [ ]:
0/5 * * * ? *

In [11]:
pd.read_csv('s3://btest-glue-input-demo/test1.csv')

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2015-01-15 19:05:39,2015-01-15 19:23:42,1,1.59,-73.993896,40.750111,1,N,-73.974785,40.750618,1,12.0,1.0,0.5,3.25,0.00,0.3,17.05
1,1,2015-01-10 20:33:38,2015-01-10 20:53:28,1,3.30,-74.001648,40.724243,1,N,-73.994415,40.759109,1,14.5,0.5,0.5,2.00,0.00,0.3,17.80
2,1,2015-01-10 20:33:38,2015-01-10 20:43:41,1,1.80,-73.963341,40.802788,1,N,-73.951820,40.824413,2,9.5,0.5,0.5,0.00,0.00,0.3,10.80
3,1,2015-01-10 20:33:39,2015-01-10 20:35:31,1,0.50,-74.009087,40.713818,1,N,-74.004326,40.719986,2,3.5,0.5,0.5,0.00,0.00,0.3,4.80
4,1,2015-01-10 20:33:39,2015-01-10 20:52:58,1,3.00,-73.971176,40.762428,1,N,-74.004181,40.742653,2,15.0,0.5,0.5,0.00,0.00,0.3,16.30
5,1,2015-01-10 20:33:39,2015-01-10 20:53:52,1,9.00,-73.874374,40.774048,1,N,-73.986977,40.758194,1,27.0,0.5,0.5,6.70,5.33,0.3,40.33
6,1,2015-01-10 20:33:39,2015-01-10 20:58:31,1,2.20,-73.983276,40.726009,1,N,-73.992470,40.749634,2,14.0,0.5,0.5,0.00,0.00,0.3,15.30
7,1,2015-01-10 20:33:39,2015-01-10 20:42:20,3,0.80,-74.002663,40.734142,1,N,-73.995010,40.726326,1,7.0,0.5,0.5,1.66,0.00,0.3,9.96
8,1,2015-01-10 20:33:39,2015-01-10 21:11:35,3,18.20,-73.783043,40.644356,2,N,-73.987595,40.759357,2,52.0,0.0,0.5,0.00,5.33,0.3,58.13
9,1,2015-01-10 20:33:40,2015-01-10 20:40:44,2,0.90,-73.985588,40.767948,1,N,-73.985916,40.759365,1,6.5,0.5,0.5,1.55,0.00,0.3,9.35

In [12]:
!aws s3 cp test2.csv s3://btest-glue-input-demo/sample/test2.csv

upload: ./test2.csv to s3://btest-glue-input-demo/sample/test2.csv

In [ ]:
yellow_tripdata_2015-01.csv

In [2]:
!aws s3 cp yellow_tripdata_2015-01.csv s3://btest-glue-input-demo/full-nyc/

upload: ./yellow_tripdata_2015-01.csv to s3://btest-glue-input-demo/full-nyc/yellow_tripdata_2015-01.csv

In [6]:
import pandas as pd
df2=pd.read_csv('test2.csv')

In [8]:
df2

df2.at[0,'VendorID']=3
df2

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,3,2015-01-15 19:05:39,2015-01-15 19:23:42,1,1.59,-73.993896,40.750111,1,N,-73.974785,40.750618,1,12.0,1.0,0.5,3.25,0.00,0.3,17.05
1,1,2015-01-10 20:33:38,2015-01-10 20:53:28,1,3.30,-74.001648,40.724243,1,N,-73.994415,40.759109,1,14.5,0.5,0.5,2.00,0.00,0.3,17.80
2,1,2015-01-10 20:33:38,2015-01-10 20:43:41,1,1.80,-73.963341,40.802788,1,N,-73.951820,40.824413,2,9.5,0.5,0.5,0.00,0.00,0.3,10.80
3,1,2015-01-10 20:33:39,2015-01-10 20:35:31,1,0.50,-74.009087,40.713818,1,N,-74.004326,40.719986,2,3.5,0.5,0.5,0.00,0.00,0.3,4.80
4,1,2015-01-10 20:33:39,2015-01-10 20:52:58,1,3.00,-73.971176,40.762428,1,N,-74.004181,40.742653,2,15.0,0.5,0.5,0.00,0.00,0.3,16.30
5,1,2015-01-10 20:33:39,2015-01-10 20:53:52,1,9.00,-73.874374,40.774048,1,N,-73.986977,40.758194,1,27.0,0.5,0.5,6.70,5.33,0.3,40.33
6,1,2015-01-10 20:33:39,2015-01-10 20:58:31,1,2.20,-73.983276,40.726009,1,N,-73.992470,40.749634,2,14.0,0.5,0.5,0.00,0.00,0.3,15.30
7,1,2015-01-10 20:33:39,2015-01-10 20:42:20,3,0.80,-74.002663,40.734142,1,N,-73.995010,40.726326,1,7.0,0.5,0.5,1.66,0.00,0.3,9.96
8,1,2015-01-10 20:33:39,2015-01-10 21:11:35,3,18.20,-73.783043,40.644356,2,N,-73.987595,40.759357,2,52.0,0.0,0.5,0.00,5.33,0.3,58.13
9,1,2015-01-10 20:33:40,2015-01-10 20:40:44,2,0.90,-73.985588,40.767948,1,N,-73.985916,40.759365,1,6.5,0.5,0.5,1.55,0.00,0.3,9.35

In [9]:
df2.to_csv('test2.csv',index=False)

In [10]:
pd.read_parquet('s3://btest-glue-output-demo/sample/run-output_node1695415545916-1-part-block-0-r-00000-snappy.parquet')

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2015-01-15 19:05:39,2015-01-15 19:23:42,1,1.590000,-73.993896,40.750111,1,NaN,-73.974785,40.750618,1,12.0,1.0,0.5,3.25,0.00,0.3,17.049999
1,1,2015-01-10 20:33:38,2015-01-10 20:53:28,1,3.300000,-74.001648,40.724243,1,NaN,-73.994415,40.759109,1,14.5,0.5,0.5,2.00,0.00,0.3,17.799999
2,1,2015-01-10 20:33:38,2015-01-10 20:43:41,1,1.800000,-73.963341,40.802788,1,NaN,-73.951820,40.824413,2,9.5,0.5,0.5,0.00,0.00,0.3,10.800000
3,1,2015-01-10 20:33:39,2015-01-10 20:35:31,1,0.500000,-74.009087,40.713818,1,NaN,-74.004326,40.719986,2,3.5,0.5,0.5,0.00,0.00,0.3,4.800000
4,1,2015-01-10 20:33:39,2015-01-10 20:52:58,1,3.000000,-73.971176,40.762428,1,NaN,-74.004181,40.742653,2,15.0,0.5,0.5,0.00,0.00,0.3,16.299999
5,1,2015-01-10 20:33:39,2015-01-10 20:53:52,1,9.000000,-73.874374,40.774048,1,NaN,-73.986977,40.758194,1,27.0,0.5,0.5,6.70,5.33,0.3,40.330002
6,1,2015-01-10 20:33:39,2015-01-10 20:58:31,1,2.200000,-73.983276,40.726009,1,NaN,-73.992470,40.749634,2,14.0,0.5,0.5,0.00,0.00,0.3,15.300000
7,1,2015-01-10 20:33:39,2015-01-10 20:42:20,3,0.800000,-74.002663,40.734142,1,NaN,-73.995010,40.726326,1,7.0,0.5,0.5,1.66,0.00,0.3,9.960000
8,1,2015-01-10 20:33:39,2015-01-10 21:11:35,3,18.200001,-73.783043,40.644356,2,NaN,-73.987595,40.759357,2,52.0,0.0,0.5,0.00,5.33,0.3,58.130001
9,1,2015-01-10 20:33:40,2015-01-10 20:40:44,2,0.900000,-73.985588,40.767948,1,NaN,-73.985916,40.759365,1,6.5,0.5,0.5,1.55,0.00,0.3,9.350000

In [2]:
!aws rds describe-db-clusters --db-cluster-identifier gluedb --output text --query '*[].["Cluster:",DBClusterIdentifier,DBClusterMembers[*].["Instance:",DBInstanceIdentifier,IsClusterWriter]]

/bin/bash: -c: line 1: unexpected EOF while looking for matching `''
/bin/bash: -c: line 2: syntax error: unexpected end of file

In [5]:
!aws rds delete-db-instance --db-instance-identifier gluedb-instance-1-us-east-1a

An error occurred (InvalidDBClusterStateFault) when calling the DeleteDBInstance operation: Db cluster gluedb is in stopped state

In [3]:
!aws rds describe-db-clusters --db-cluster-identifier gluedb

{
    "DBClusters": [
        {
            "AllocatedStorage": 1,
            "AvailabilityZones": [
                "us-east-1b",
                "us-east-1a",
                "us-east-1d"
            ],
            "BackupRetentionPeriod": 7,
            "DBClusterIdentifier": "gluedb",
            "DBClusterParameterGroup": "default.aurora-postgresql14",
            "DBSubnetGroup": "default-vpc-07db3680d1c30f602",
            "Status": "stopped",
            "AutomaticRestartTime": "2023-10-23T17:46:05.138Z",
            "EarliestRestorableTime": "2023-10-16T17:04:53.310Z",
            "Endpoint": "gluedb.cluster-c0oohyxv9j5t.us-east-1.rds.amazonaws.com",
            "ReaderEndpoint": "gluedb.cluster-ro-c0oohyxv9j5t.us-east-1.rds.amazonaws.com",
            "MultiAZ": true,
            "Engine": "aurora-postgresql",
            "EngineVersion": "14.6",
            "LatestRestorableTime": "2023-10-16T17:38:51.424Z",
            "Port": 5432,
            "MasterUsername": "postgres",
            "PreferredBackupWindow": "10:09-10:39",
            "PreferredMaintenanceWindow": "thu:08:13-thu:08:43",
            "ReadReplicaIdentifiers": [],
            "DBClusterMembers": [
                {
                    "DBInstanceIdentifier": "gluedb-instance-1-us-east-1a",
                    "IsClusterWriter": false,
                    "DBClusterParameterGroupStatus": "in-sync",
                    "PromotionTier": 1
                },
                {
                    "DBInstanceIdentifier": "gluedb-instance-1",
                    "IsClusterWriter": true,
                    "DBClusterParameterGroupStatus": "in-sync",
                    "PromotionTier": 1
                }
            ],
            "VpcSecurityGroups": [
                {
                    "VpcSecurityGroupId": "sg-08234fd4bd4f23e94",
                    "Status": "active"
                }
            ],
            "HostedZoneId": "Z2R2ITUGPM61AM",
            "StorageEncrypted": true,
            "KmsKeyId": "arn:aws:kms:us-east-1:590116326836:key/b5ac7915-3177-4160-b863-31945415a56e",
            "DbClusterResourceId": "cluster-EN6DTKYUFUWMSFTCJ3SJRQ3IAA",
            "DBClusterArn": "arn:aws:rds:us-east-1:590116326836:cluster:gluedb",
            "AssociatedRoles": [],
            "IAMDatabaseAuthenticationEnabled": false,
            "ClusterCreateTime": "2023-10-16T17:03:52.863Z",
            "EngineMode": "provisioned",
            "DeletionProtection": false,
            "HttpEndpointEnabled": false,
            "ActivityStreamStatus": "stopped",
            "CopyTagsToSnapshot": true,
            "CrossAccountClone": false,
            "DomainMemberships": [],
            "TagList": [],
            "AutoMinorVersionUpgrade": true,
            "NetworkType": "IPV4"
        }
    ]
}